body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#98FFCF;
    background-image: url(Image/abstrait-numerique-grille-fond-noir.jpg);
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%;
}

.container{
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid black ;
    box-shadow: 2px 2px 2px  black ;
    border-radius: 10px;
    padding: 10px;
}

#en-tete{
    padding-top: 80px;
    padding-bottom: 20%;
}
#tete{
    padding: 0;
    float: left;
    margin-left: 30px;
}

#presentation{
    padding-top: 50px;
    float: right;
    margin-right: 30px;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

nav a {
    display: block;
    text-decoration: none;
    color: #98FFCF;
    border-bottom: 2px solid transparent;
    padding: 10px 0;
}

nav a:hover{
    color: green;
    border-bottom: 2px solid green;
}

nav ul{
    list-style-type: none;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav li {
    float: left;
    width: 25%;
}



video{
    border-radius: 10px;
    float: left;
}

#puy{
    margin-top: 30px;
}
#puy figcaption{
    padding-top: 100px;
    text-align: center;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse:collapse;
    border: 2px solid purple;
    border-radius: 50px ;


}
img{
    border-radius: 10px;
}

#surf:hover{
    height: 300px;

}
a{
    color: gold;
    font-style:italic;
    text-decoration: none;
}
a:hover{
    color: aqua;
}
#jeux{
    clear: both;
}
#description {
    float:left ;
    margin-left: 15px;
}
#liens{
    float: right;
    margin-right: 100px;
}

#liens li{
    list-style-type: none;
}
#liens img:hover{
    height: 40px;
}

#competences{
    margin-top: 100px;
    display: block;
    clear: both ;
    width: 100%;
}

#competences div {
    height: 100px;
    padding-top: 5px;
    padding-left: 20px;
    text-align: left;
    float: left;
    width: 29%;
    border-radius: 15px;
    border:1px solid black;
    box-shadow: 2px 2px green;
}


.cursus{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}










